{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<article id="main">
    <header>
        <h2>Albums List</h2>
    </header>
    <div style='text-align:center'>
        <form action="/albums_list/" method='GET'>
        <input name='album_title' type='text' size='15' placeholder='Search for an album' style="width: 30%; font-size:20px; text-align:center; margin:0 auto">
        </form>
    </div>
    <section class="wrapper style5">
        <div class="inner">
            <a href='/albums_create/' class='button' style='margin:10px; margin-top:0px; text-align:center'>Create album</a></br>
            <div>
            {%for artist in artists%}
                {% if artist.albums_set.all.count != 0%}
                    Artist: <a href='/artists_detail/{{artist.pk}}'> {{artist}}</a></br>
                    {%if artist.albums_set.all.count == 1%}
                        Album:
                    {%else%}
                        Albums:
                    {%endif%}
                    <ul>
                    {%for album in artist.albums_set.all%}
                        {%if album in albums%}
                        <a href='/albums_detail/{{album.pk}}' style='color:#505393'> {{album.album_title}}</a></br>                        {%endif%}
                    {%endfor%}
                {%endif%}
                </ul>
            {%endfor%}
            </div>

        </div>
    </section>
</article>
{%endblock body%}