{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<article id="main">
    <header>
        <h2>Artist Detail: </br><em>{{object.artist_name}}</em></h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <h2>{{object.artist_name}}</h2>
            <img src='{{object.artist_image_file}}' alt='{{object.artist_name}}' style='width:50%; height:50%; margin:10px'></br>

            Artist ID: <b>{{object.artist_id}}</b></br>
            Artist Handle: <b>{{object.artist_handle}}</b></br>
            Artist URL: <b>{{object.artist_url}}</b></br>

            Artist Bio: <b>{{object.artist_bio|safe}}</b></br>
            {%if object.artist_members != None or object.artist_members != '' %}
                Artist Members: <b>{{object.artist_members}}</b></br>
            {%endif%}
            {%if object.artist_website != None %}
                Artist Website: <a href ='{{object.artist_website}}'><b>{{object.artist_website}}</b></a></br>
            {%endif%}
            {%if object.artist_wikipedia_page %}
                Artist Wiki Page: <a href='{{object.artist_wikipedia_page}}'><b>{{object.artist_wikipedia_page}}</b></a></br>
            {%endif%}
            {%if object.artist_donation_url != None %}
                Artist Donation URL: <a href='{{object.artist_donation_url}}'><b>{{object.artist_donation_url}}</b></a></br>
            {%endif%}
            {%if object.artist_contact != None or object.artist_contact != ''%}
                Artist Contact: <b>{{object.artist_contact}}</b></br>
            {%endif%}
            {%if object.artist_location %}
                Artist Location: <b>{{object.artist_location}}</b></br>
            {%endif%}
            {%if object.artist_active_year_begin %}
                Artist Active Year Begin: <b>{{object.artist_active_year_begin}}</b></br>
            {%endif%}
            {%if object.artist_active_year_end != None %}
                Artist Year End: <b>{{object.artist_active_year_end}}</b></br>
            {%endif%}
            {%if object.artist_related_projects != None%}
                Artist Related Projects: <b>{{object.artist_related_projects}}</b></br>
            {%endif%}
            {%if object.artist_associated_labels != None%}
                Artist Associated Labels: <b>{{object.artist_associated_labels}}</b></br>
            {%endif%}
            Artist Comments: <b>{{object.artist_comments}}</b></br>
            Artist Favorites: <b>{{object.artist_favorites}}</b></br>
            Artist Date Created: <b>{{object.artist_date_created}}</b></br>
            Artist Flattr Name: <b>{{object.artist_flattr_name}}</b></br>
            Artist Paypal Name: <b>{{object.artist_paypal_name}}</b></br>
            Artist Latitude: <b>{{object.artist_latitude}}</b></br>
            Artist Longitude: <b>{{object.artist_longitude}}</b></br>

            {% if object.albums_set.all%}
                Albums:
                {%for alb in object.albums_set.all%}
                     <a href='/albums_detail/{{alb.pk}}'><b>{{alb}}</b></a>
                {%endfor%}
            {%endif%}</br>
            {% if request.user.is_authenticated %}
            <a href='/artists_edit/{{object.pk}}/' class='button'>Edit Artist</a></br>
            <a href='/artists_delete/{{object.pk}}/' class='button'>Delete Artist</a>
            {%endif%}
        </div>
    </section>
</article>
{%endblock body%}
