{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<article id="main">
    <header>
        <h2>Track Detail:</br><em>{{object.track_title}}</em></h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <h2>{{object.track_title}}</h2>
            {%if object.track_image_file != None %}
                <img src = '{{object.track_image_file}}' alt='{{object.track_image_file}}' style='width:50%; height:50%; margin:10px'></br>
            {%endif%}
            <p>Track ID: <b>{{object.track_id}}</b></p>
            {%if object.track_url != None %}
                <p>Track URL:<a href='{{object.track_url}}'><b>{{object.track_url}}</b></a></p>
            {%endif%}
            <p>Artist Name: <a href='/artists_detail/{{object.artist.pk}}/'><b>{{object.artist.artist_name}}</b></a></p>
            {%if object.artist_url != None%}
                <p>Artist URL: <a href = '{{object.artist.artist_url}}'><b>{{object.artist.artist_url}}</b></a></p>
            {%endif%}
            {% if object.artist.artist_website != ''%}
                <p>Artist Website: <a href = '{{object.artist.artist_website}}'><b>{{object.artist.artist_website}}</b></a></p>
            {%endif%}
            {%if object.album.album_title != None %}
                <p>Album Title: <a href='/albums_detail/{{object.album.pk}}'><b>{{object.album.album_title}}</b></a></p>
            {%endif%}
            {% if object.album.album_url != None %}
               <p>Album URL: <a href='{{object.album.album_url}}'><b>{{object.album.album_url}}</b></a></p>
            {%endif%}
            <p>License Title: <b>{{object.license_title}}</b></p>
            {%if object.license_url != None %}
                <p>License URL: <a href ='{{object.license_url}}'><b>{{object.license_url}}</b></a>
            {%endif%}
            <p>Track Language Code: <b>{{object.track_language_code}}</b></p>
            <p>Track Duration: <b>{{object.track_duration}}</b></p>
            <p>Track Number: <b>{{object.track_number}}</b></p>
            <p>Track Disc Number: <b>{{object.track_disc_number}}</b></p>
            
            {% if object.track_explicit != ''%}
                <p>Track Explicit: <b>{{object.track_explicit}}</b></p>
            {%endif%}
            <p>Track Explicit Notes: <b>{{object.track_explicit_notes}}</b></p>
            <p>Track Copyright C: <b>{{object.track_copyright_c}}</b></p>
            <p>Track Copyright P: <b>{{object.track_copyright_p}}</b></p>
            {%if object.track_composer != ''%}
                <p>Track Composer: <b>{{object.track_composer}}</b></p>
            {%endif%}
            <p>Track Lyricist: <b>{{object.track_lyricist}}</b></p>
            <p>Track Publisher: <b>{{object.track_publisher}}</b></p>
            <p>Track Instrumental: <b>{{object.track_instrumental}}</b></p>
            {%if object.track_information != ''%}
                <p>Track Information:<b>{{object.track_information|safe}}</b></p>
            {%endif%}
            <p>Track Date Recorded: <b>{{object.track_date_recorded}}</b></p>
            <p>Track Comments: <b>{{object.track_comments}}</b></p>
            <p>Track Favorites: <b>{{object.track_favorites}}</b></p>
            <p>Track Listens: <b>{{object.track_listens}}</b></p>
            <p>Track Interest: <b>{{object.track_interest}}</b></p>
            <p>Track Bit Rate: <b>{{object.track_bit_rate}}</b></p>
            <p>Track Date Created: <b>{{object.track_date_created}}</b></p>
            <p>Track File: <b>{{object.track_file}}</b></p>
            <!--License Image File: {{object.license_image_file}}</br>
            License Image File Large: {{object.license_image_file_large}}</br>-->
            <p>License Parent ID: <b>{{object.license_parent_id}}</b></p>
            <img src = '{{object.license_image_file_large}}' alt='{{object.license_image_file_large}}' style='width:10%; height:10%; margin:10px'></br>
            </br>
            {% if request.user.is_authenticated %}
            <a href='/tracks_edit/{{object.pk}}/' class='button'>Edit Track</a></br>
            <a href='/tracks_delete/{{object.pk}}/' class='button'>Delete Track</a>
            {%endif%}
        </div>
    </section>
</article>
{%endblock body%}

