{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<article id="main">
    <header>
        <h2>Tracks List</h2>
    </header>
    <div>
        <form action="/tracks_list/" method='GET'>
        <input name='track_title' type='text' size='15' placeholder='Search for a track' style="width:30%; font-size:20px; text-align:center; margin: auto">
        </form>
    </div>
    <section class="wrapper style5">
        <div class="inner">
            <a href='/tracks_create/' class='button' style='margin:10px; margin-top:0px; text-align:center'>Create track</a></br>
            {%for album in albums%}
                {% if album.tracks_set.all.count != 0%}
                    Artist: <a href='/artist_detail/{{album.artist.pk}}'> {{album.artist}}</a></br>
                    Album: <a href='/album_detail/{{alum.pk}}'> {{album.album_title}}</a></br>
                    Tracks:
                    <ul>
                    {%for track in album.tracks_set.all%}

                        {%if track in tracks%}
                        <a href= '/tracks_detail/{{track.pk}}' style='color:#505393'>{{track}}</a></br>
                        {%endif%}
                    {%endfor%}
                {%endif%}
                </ul>
            {%endfor%}
        </div>
    </section>
</article>
{%endblock body%}